:root{
    --colorCabecera: #4a79f0;
    --colorOscuro: black ;
    --colorClaro: #ffffff;
    --colorRosa: #fd6f4c;
    }
html{
      box-sizing:border-box;
      max-height: 100%;
      font-size: 62.5%;
}
    *, *:before, *:after{
        box-sizing: inherit;
}
 body{

}

.site-header{
    font-size: 2rem;
    font-family: 'Krub', sans-serif;
    display: flex;
    flex-direction:row;
    align-items: flex-start;
    padding: 2rem;
    justify-content: space-between;
    color: var(--colorOscuro);
    height: 2px;
   
}
.barra{

    font-size: 2rem;
    font-family: 'Krub', sans-serif;
    display: flex;
    flex-direction:row;
    align-items: center;
    align-items: --colorCabecera;
    padding: 2rem;
    justify-content: space-between;
    color: var(--colorOscuro);
}
.contenedor{
    display: flex;
    font-size: 2rem;
    font-family: 'Krub', sans-serif;
    display: flex;
    flex-direction:column;
    align-items: center;
}
.contenedor-header{
    padding: 2rem; 
    font-size: 2rem;
    font-family: 'Krub', sans-serif;
    display: flex;
    flex-direction:row;
    align-items: center;
    align-items: --colorCabecera;
    padding: 2rem;
    justify-content: space-between;
}

.barra a img {
    max-height: 20rem;
}
.sesiones-menu{
    display: flex;
    flex-direction:row;
    align-items:center;
    padding: 2rem;
    justify-content: space-between;

}
.sesiones-menu img{
    max-height: 20rem;
}
.navegacion1{
    display: flex;
    font-family: 'Krub', sans-serif;
    height: 2px;
    flex-direction:row;
    align-items:flex-end;
    padding: 3rem;
    justify-content: space-between;
}
.icono{
    padding: 2rem;
    flex-basis: calc(33.3% - 1rem);
    display: flex;
    flex-direction: column;
    justify-content:top 1rem;
}
.site-footer{
    flex-basis: calc(33.3% - 1rem);
    display: flex;
    flex-direction: row;
    justify-content:top 1rem;
 display: var(--colorOscuro);   
}
.boton{
    
}
