:root{
--colorCabecera: #4a79f0;
--colorOscuro: black ;
--colorClaro: #ffffff;
--colorRosa: #fd6f4c;
}
html{
  box-sizing:border-box;
  max-height: 100%;
  font-size: 62.5%;
}
*, *:before, *:after{
    box-sizing: inherit;
}
body{
<<<<<<< Updated upstream
    
    display: flex;
    align-items:center;
    height: 98vh;
    justify-content: center;
    flex: 1;  
=======
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -250px;   /* height/2 = 500px / 2 */
    margin-left: -250px;  /* width/2 = 500px / 2 */
>>>>>>> Stashed changes
}

.balon{ 
    max-width: 720px;
    min-width: 360px;
    background-image: url(../img/balon.png);
    background-size:100%;
    background-position:center;
    border-radius: 1rem;
<<<<<<< Updated upstream
    position: absolute; 
    
=======
    margin: 0 auto;
>>>>>>> Stashed changes
}

.balon::after{
    content:'';
    background-color: rgba(255, 255, 255, 0.9);
    position: absolute;
    width: 100%;
    height: 103%;
    top: 0;
    border-radius: 1rem;
    
}

/*Encabezado*/

.cabecera{
    max-width: 600px;
    min-width: 320px;
    font-family: 'Krub', sans-serif;
    max-height: 8rem;
    background-color: var(--colorCabecera);
    border-radius: 1rem;
    
    z-index: 1;
    position:relative;
    
    display: flex;
    flex-direction:row;
    align-items:center;
    justify-content:left;
    

    box-shadow: 0px 5px 10px 5px rgba(103, 130, 170, 0.699);
    border-color: rgb(235, 239, 240);
    border-style:solid;
    border-width: 4px;
    
}
.logo img{
    max-height: 6rem;
}

.login{
    display: flex;
    flex-direction: column;
    align-items:center;
    flex: 0 0 calc(50%);
    font-size: 1.5rem;
    color: var(--colorClaro);
    
    
}

.registro{
    display: flex;
    flex-direction: column;
    align-items:center;
    flex: 0 0 calc(60%);
    
    font-size: 1.5rem;
    color: var(--colorClaro);
}
.registro h1{
    margin: 1px;
}
/*Cuerpo principal*/

main{
    font-family: 'Krub', sans-serif;
    display: flex;
    flex-direction:column;
    align-items: center;
}
/*Formulario*/
form{
    z-index: 1;
    display: flex;
    flex-direction:column;
    align-items: center;
}

legend{
    
    margin-top: 2rem;
    color:var(--colorOscuro);
    font-size: 2rem;
}
.campos{
    display: flex;
    flex-direction:column;
    align-items:center;
    justify-content: space-between;
}

.datos{
    margin-top: 10px;
    display: flex;
    flex-direction:column;

}
.datos label{
    
    color:var(--colorOscuro);
    -webkit-text-fill-color: var(--colorOscuro);
    font-size: 2rem;
    font-weight: 700;      
}
.datos input{
    font-size: 2rem;
    height: 3rem;
    border-color: rgba(0, 0, 0, 0.829);
    border-style: solid;
    border-radius: 1rem;
    max-width: 300px ;

}
/*Tamaño del placeholder*/
::-webkit-input-placeholder{
    font-size: 1.5rem;
    }
::-moz-placeholder{
    font-size: 1.5rem;
}
/*Diseño Bootones*/
.boton{
    display:inline-block;
    margin: 2rem;
    align-items: center;
    z-index: 1;
    
}
.boton .boton-envio{
    
    background-color: var(--colorCabecera);
    margin-left:2rem;
    margin-right: 2rem;
    padding: 1rem 3rem;
    
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2rem;
    border-radius: 1rem;
    color: var(--colorClaro);
}
.recuperar{
   
    display: flex;
    justify-content: flex-end;
    z-index: 1;
}
.recuperar a{
    color: var(--colorRosa);
    font-size: 1.5rem;
    font-weight: 600;
}

.aceptar{
    
    margin-top: 3px;
    display: flex;
    align-self: flex-end;
}
.aceptar label{
    color: var(--colorRosa);
    font-size: 1.5rem;
    font-weight: 500;
}
#caja-recordar{
   
    align-self: flex-end;
}
.ir-registro{
    display:block;
    position: relative; 
    z-index: 1;
}
.ir-registro p{
    color: var(--colorOscuro);
    font-size: 1.5rem;
}
.ir-registro a{
    color: var(--colorRosa);
    font-size: 1.5rem;
}
.lineavs{
    display:flex;
    flex-direction: row;
    
}

.ComboBox form select{
    text-transform: uppercase;
    font-family: 'Krub', sans-serif;  
}
 #goleslocal{
     width: 5rem    ;
     align-items: center;
 }

 #golesvisitante{
    width: 5rem ;
 }
/***


.site-header{
    font-size: 2rem;
    font-family: 'Krub', sans-serif;
    display: flex;
    flex-direction:column;
    align-items: center;
   
}
.contenedor{
    display: flex;
    font-size: 2rem;
<<<<<<< Updated upstream
    font-family: 'Krub', sans-serif;
    display: flex;
    flex-direction:column;
    align-items: center;
}
.barra a img {
    max-height: 20rem;
}
.sesiones-menu{
    display: flex;
    flex-direction:row;
    align-items:center;
    padding: 2rem;
    justify-content: space-between;

}
.sesiones-menu img{
    max-height: 20rem;
}
.navegacion1{
    display: flex;
    flex-direction:row;
    align-items:center;
    padding: 1rem;
    justify-content: space-between;
}
.icono{
    padding: 2rem;
    flex-basis: calc(33.3% - 1rem);
    display: flex;
    flex-direction: column;
    justify-content:top 1rem;
=======
    height: 3rem;
    /* box-shadow: 0px 5px 3px 5px rgba(229, 236, 248, 0.466);*/
    border-color: rgba(1, 67, 141, 0.829);
    border-radius: 1rem;
    max-width: 300px ;
    font
>>>>>>> Stashed changes
}

*/