:root{
--colorCabecera: #4a79f0;
--colorClaro: #ffffff;
--colorRosa: #f4ab8b;
}
html{
  box-sizing:border-box;
  max-height: 100%;
  font-size: 62.5%;
}
*, *:before, *:after{
    box-sizing: inherit;
}
.cabecera{

    max-width: 490px;
    font-family: 'Krub', sans-serif;
    max-height: 8rem;
    background-color: var(--colorCabecera);
    border-radius: 1rem;
    margin:-8px auto;
    z-index: 1;
    position: relative;
    
    display: flex;
    flex-direction:row;
    align-items: center;
    box-shadow: 0px 10px 20px 10px rgba(103, 130, 170, 0.699);
    border-color: rgb(235, 239, 240);
    border-style:groove;
    border-width: 4px;
    bottom: 0;
}
.logo img{
    max-height: 6rem;
    margin: 2px 2px;
}

.login{
    margin: 2px 2px;
    display: flex;
    flex-direction: column;
    align-items:center;
    flex: 0 0 calc(50%);
    font-size: 1.5rem;
    color: var(--colorClaro);
    
}
main{
    font-family: 'Krub', sans-serif;
    display: flex;
    flex-direction:column;
    align-items: center;
}
.balon{ 
    max-width: 500px;
    height: 75vh;
    background-image: url(../img/balon.png);
    background-size: contain;
    background-position:bottom;
    
    display: flex;
    flex-direction:column;
    align-items:center;
    
    border-radius: 1rem;
    z-index: 0;
}
.balon::after{
    width: 500px;
    content: '';
    background-color: rgba(0, 0, 0, 0.7);
    position:fixed;
    top:0rem;
    left:initial;
    right: initial;
    bottom: 0rem;
    border-radius: 1rem;
    z-index: 0;
}
form{
    z-index: 1;
    size: 360px;
}

legend{
    padding: 3rem;
    color:var(--colorClaro);
    font-size: 2.5rem;
    font-weight: 700;   
}
.datos{
    margin-top: 30px;
    align-content:space-between;
}
.datos label{
    color: var(--colorCabecera);
    font-size: 3rem;
    font-weight: 700;    
}
.datos input{
    display: flex;
    flex-direction:column;
    align-items: center;
    font-size: 3rem;
    height: 5rem;
    box-shadow: 0px 5px 3px 5px rgba(229, 236, 248, 0.466);
    border-color: rgba(1, 67, 141, 0.829);
    border-radius: 1rem;
    max-width: 430px ;
}
.boton{
    display: flex;
    justify-content:center;
    margin-top: 2rem;
}
.boton a{
    
    background-color: var(--colorCabecera);
    padding: 1rem 5rem;
    display: inline-block;
    margin-top: 1rem;
 
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2rem;
    border-radius: 1rem;
    color: var(--colorClaro);
    text-decoration:none;
}
.recuperar{
    margin-top: 2rem;
    display: flex;
    justify-content: flex-end;
}
.recuperar a{
    color: var(--colorRosa);
    font-size: 1.5rem;
    font-weight: 700;
}
.recordar{
    margin-top: 2rem;
    display: flex;
    justify-content:flex-start;
}
.recordar label{
    color: var(--colorRosa);
    font-size: 1.5rem;
    font-weight: 700;
}


