:root{
--colorCabecera: #4a79f0;
--colorOscuro: black ;
--colorClaro: #ffffff;
--colorRosa: #fd6f4c;
}
html{
  box-sizing:border-box;
  max-height: 100%;
  font-size: 62.5%;
}
*, *:before, *:after{
    box-sizing: inherit;
}
body{
    
    display: flex;
    align-items:center;
    height: 98vh;
    justify-content: center;
    flex: 1;
    
}

.balon{ 
    max-width: 720px;
    
    min-width: 360px;
    background-image: url(../img/balon.png);
    background-size:100%;
    background-position:center;
    border-radius: 1rem;

    position: absolute; /*Posicion absoluta para utilizar el after*/
    
}

.balon::after{
    content:'';
    background-color: rgba(255, 255, 255, 0.9);
    position: absolute;
    width: 100%;
    height: 103%;
    top: 0;
    border-radius: 1rem;
}

/*Encabezado*/
.cabecera{
    max-width: 500px;
    min-width: 360px;
    font-family: 'Krub', sans-serif;
    max-height: 8rem;
    background-color: var(--colorCabecera);
    border-radius: 1rem;
    
    z-index: 1;
    position:relative;
    
    display: flex;
    flex-direction:row;
    align-items:center;
    justify-content:left;
    

    box-shadow: 0px 5px 10px 5px rgba(103, 130, 170, 0.699);
    border-color: rgb(235, 239, 240);
    border-style:solid;
    border-width: 4px;
    
}
.logo img{
    max-height: 6rem;
}

.login{
    display: flex;
    flex-direction: column;
    align-items:center;
    flex: 0 0 calc(50%);
    font-size: 1.5rem;
    color: var(--colorClaro);
    
    
}
.pageColumn{
    background-color: #ffffff;
}
.registro{
    display: flex;
    flex-direction: column;
    align-items:center;
    flex: 0 0 calc(60%);
    
    font-size: 1.5rem;
    color: var(--colorClaro);
}
.registro h1{
    margin: 1px;
}
/*Cuerpo principal*/
main{
    font-family: 'Krub', sans-serif;
    display: flex;
    flex-direction:column;
    align-items: center;
}

form{
    z-index: 1;
    display: flex;
    flex-direction:column;
    align-items: center;
}

legend{
    
    margin-top: 2rem;
    color:var(--colorOscuro);
    font-size: 2rem;
    font-weight: 700;   
    
}
.campos{
    display: flex;
    flex-direction:column;
    align-items:center;
}

.datos{
    margin-top: 10px;
    display: flex;
    flex-direction:column;
    align-content:space-between;

}
.datos label{
    
    color:var(--colorOscuro);
    -webkit-text-fill-color: var(--colorOscuro);
    /*-webkit-text-stroke: 1px black;*/

    font-size: 2rem;
    font-weight: 700;
        
}
.datos input{
    font-size: 2rem;
    height: 3rem;
    border-color: rgba(0, 0, 0, 0.829);
    border-style: solid;
    border-radius: 1rem;
    max-width: 300px ;

}
::-webkit-input-placeholder{
    font-size: 1.5rem;
    }
::-moz-placeholder{
    font-size: 1.5rem;
}
.boton{
    display: flex;
    justify-content:center;
    margin-top: 2rem;
}
.boton a{
    
    background-color: var(--colorCabecera);
    padding: 1rem 9rem;
    display: inline-block;
    margin-top: 1rem;
 
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2rem;
    border-radius: 1rem;
    color: var(--colorClaro);
    text-decoration:none;
}
.recuperar{
    margin-top: 2rem;
    display: flex;
    justify-content: flex-end;
}
.recuperar a{
    color: var(--colorRosa);
    /*text-shadow: -0.5px -0.5px  var(--colorRosa), 0.5px 0.5px  var(--colorRosa), -0.5px 0.5px  var(--colorRosa), 0.5px -0.5px  var(--colorRosa);*/
    font-size: 1.5rem;
    font-weight: 600;
}
.recordar{
    
    margin-top: 3px;
    display: flex;
    align-self: flex-end;
    
    /*
    align-content:space-around;
   
    position:relative;
    margin: 100 auto;*/
}
.recordar label{
    color: var(--colorRosa);
    /*text-shadow: -0.5px -0.5px  var(--colorRosa), 0.5px 0.5px  var(--colorRosa), -0.5px 0.5px  var(--colorRosa), 0.5px -0.5px  var(--colorRosa);*/
    font-size: 1.5rem;
    font-weight: 600;
    position: relative;
}
.ComboBox{
    display: flex;
    flex-direction:column;
    align-items:center;
    font-size: 2rem;
    height: 3rem;
    /* box-shadow: 0px 5px 3px 5px rgba(229, 236, 248, 0.466);*/
    border-color: rgba(1, 67, 141, 0.829);
    border-radius: 1rem;
    max-width: 300px ; 
    font-family: 'Krub', sans-serif;
    
}
#Lista{
    text-transform: uppercase;
    font-family: 'Krub', sans-serif;
    
}
.site-header{
    font-size: 2rem;
    font-family: 'Krub', sans-serif;
    display: flex;
    flex-direction:column;
    align-items: center;
   
}
.contenedor{
    display: flex;
    font-size: 2rem;
    font-family: 'Krub', sans-serif;
    display: flex;
    flex-direction:column;
    align-items: center;
}
.barra a img {
    max-height: 20rem;
}
.sesiones-menu{
    display: flex;
    flex-direction:row;
    align-items:center;
    padding: 2rem;
    justify-content: space-between;

}
.sesiones-menu img{
    max-height: 20rem;
}
.navegacion1{
    display: flex;
    flex-direction:row;
    align-items:center;
    padding: 1rem;
    justify-content: space-between;
}
.icono{
    padding: 2rem;
    flex-basis: calc(33.3% - 1rem);
    display: flex;
    flex-direction: column;
    justify-content:top 1rem;
}

.lineavs{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
.calendario label{

}